<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <base href="/moon/" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <title>Title</title>
  </head>

  <body id="page">
    <header>
      <p class="hg1"><a href=""></a></p>
      <p class="hg2">Title</p>
    </header>

    <hr />
    <footer>
      <p color="grey">你来到了页面的底部。</p>
    </footer>
  </body>
</html>
