<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
    />
    <style>
      body {
        font-family: "Milky", sans-serif;
        align-self: center;
        justify-content: center;
        align-items: center;
      }
    </style>
    <script src="/assets/js/marked.min.js"></script>
    <script src="/assets/js/render.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <title>诗歌示例文件-代码</title>
  </head>

  <body id="page">
    <header>
      <p class="hg1"><a href="/pages/templates/poem-template.html">./</a></p>
      <p class="hg2">poem-template-codes</p>
    </header>

    <script>
      loadCode("js/render.js");
    </script>

    <hr />
    <h2>render.js</h2>
    <pre>
        <code style="font-size: 1rem; font-family: Milky;" id="code"></code>
    </pre>

    <hr />
    <p>
      本页面使用开源字体<a href="https://github.com/milky-han/mhm"
        >星汉等宽</a
      >。
    </p>
  </body>
</html>
