body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: "MS PGothic", MS PGothic, monospace;
    font-size: 18px;
    color: #000000;
    padding: 0 10px;
}

.bottomleft {
    position: fixed;
    bottom: 0;
    text-align: left;
}

.bottomright {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.topright {
    position: fixed;
    top: 0;
    right: 16px;
    text-align: left;
}

smtxt {
    text-align: center;
    font-size: 80%;
}

.ref {
    font-size: larger;
}

a {
    color: #0082ff;
}

a:hover {
    font-weight: bold;
}

h1, h2, h3 {
    line-height: 1.2;
}

hr {
    border: 1px solid #7D3C98;
    background-color: #7D3C98;
}

header {
    border: 1px solid #420420;
    background: #000000dd;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    border: 1px solid #420420;
    background: #000000dd;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul a {
  text-decoration: none;
} 

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry {
    border: 1px solid #420420;
    background: #000000dd;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry h2 {
    word-break: normal;
  word-wrap: break-word;
  white-space: pre-wrap;
}